body {
  background-color: rgb(164, 156, 255);
}
.wrapper {
  max-width: 900px;
  margin: 10rem auto;
  background-color: #fff;
  padding: 100px 50px;
  border: 2px solid black;
  border-radius: 12px;
}
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 10px 15px;
}
.wrapper__form-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 700px) {
    flex-direction: column;
    gap: 20px;
  }
  @media screen and (max-width: 400px) {
    align-items: start;
    margin-bottom: 20px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.form__label {
  font-size: 16px;
  margin-bottom: -2rem;
}
.form__events-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  font-size: 16px;
  max-width: 100%;
}
.form__input {
  margin-top: 10px;
  padding: 10px 16px;
  max-width: 200px;
  border: 2px solid rgb(134, 125, 230);
  border-radius: 6px;
  font-size: 16px;
  @media screen and (max-width: 400px) {
    padding: 5px 8px;
    max-width: 150px;
  }
}
.form__btn {
  align-self: flex-start;
  padding: 12px 18px;
  background-color: rgb(134, 125, 230);
  border: 1px solid black;
  border-radius: 6px;
  color: #fff;
  @media screen and (max-width: 700px) {
    align-self: center;
  }
  @media screen and (max-width: 400px) {
    align-self: flex-start;
    padding: 6px 8px;
  }
}
.form__btn:hover {
  cursor: pointer;
}
.input__flex {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: start;
}
.form__btn-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.form__btn-4changes {
  padding: 8px 16px;
  background-color: rgb(134, 125, 230);
  color: #fff;
  border: 1px solid black;
  border-radius: 6px;
  @media screen and (max-width: 400px) {
    padding: 5px 10px;
    margin-top: 8px;
  }
}
.form__btn-4changes:hover {
  cursor: pointer;
}
.response-text {
  font-size: 16px;
  margin-bottom: 10px;
  padding-left: 20px;
  font-weight: 700;
  @media screen and (max-width: 400px) {
    padding-left: 0;
  }
}
.error-input {
  border: 2px solid red;
  background-color: rgb(234, 156, 156);
}
.error {
  color: red;
  max-width: 200px;
  margin-top: 5px;
}
.disabled {
  background-color: gray;
}
.disabled:hover {
  cursor: not-allowed;
}
.slider {
  margin-top: 10px;
}
